:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #747bff;
}

#root {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
  color: black;
}

p {
  color: black;
  font-size: 1.1rem;
  line-height: 1.5;
}

.card-grid {
  width: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5vw;
}

.card {
  background-color: aliceblue;
  border: 7px solid #2e327e;
  border-radius: 1vw;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  border: 0.675vw solid rgb(245, 195, 60);
  background-color: rgb(255, 255, 240);
}

.card > img {
  width: 100%;;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-info {
  text-align: center;
}

.game-info > * {
  margin-top: 0.5vh;
  margin-bottom: 0.5;
}
